<%- include("header") -%>
<% for (let post of posts) { %>        
    <div class="post-container">        
            <div class="post">
                <div class="avatar"><img src="<%= post.img %>" alt="">
                    <% if (user && user.username === post.author) { %>
                    <div class="post-controller">
                        <a href="/update/<%= post.id %>" class="update">ویرایش</a>
                        <a href="/delete/<%= post.id %>" class="delete">حذف</a> 
                    </div> 
                    <% } %>
                </div>
                <div class="post-body">
                    <h3><%= post.title %></h3>
                    <div class="hline"></div>
                    <p>
                        <%- post.body.replace('\&\lt;','in',).substring(0,300) + " ... " %>
                    </p>
                </div>
            </div>
            <div class="hline"></div>
            <div class="post-details">
                <div>
                    <i class="far fa-clock"></i><span> <%= post.date.toLocaleDateString("en-US",{ year: 'numeric', month: 'long', day: 'numeric' }) %></span>
                </div>
                <div>
                    <i class="fas fa-feather-alt"></i><span> <%= post.author %></span>
                </div>
                <div>
                    <i class="fas fa-heart" id="<%= post.id %>" onclick="getEl(this.id)"></i>&nbsp;<span id="<%= "span" + post.id %>"> </span>
                </div>
                <div class="readmore">
                    <p><a href="/posts/<%= post.id %>">ادامه مطلب...</a></p>
                </div>
            </div>
           
        </div>
        <% } %>
        <% if (pageNumber > 1) { %>
        <div class="pagination">
            <% for(let i = 1; i<= pageNumber ; i++) { %>
            <div class="pagmenu">
                
                <div class="page">
                    <a href="/?page=<%= i %>"><%= i %></p>
                </div>
                
            </div>
            <% } %>
        </div>
        <% } %>
<%- include("footer") -%>